.RenFleet {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.RenFleetDesc {
  text-align: center;
}

.models {
  font-weight: bold;
  font-size: 20px;
}

.fleet {
  font-weight: bold;
  font-size: 45px;
}

.RentalData {
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
}



.Innerbuttons {
  width: 160px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: red;
  margin-left: 200px;
  border-radius: 10px;
  text-align: center;
  
}

.Innerbuttons:hover {
  background-color: bisque;
}


.carImages {
  align-items: center;
  justify-content: center;
  justify-items: center;
}


.rmain {
  display: flex;
  flex-direction: row;
}
.icontainer {
  height: 350px;
  width: 600px;
  object-fit: cover;
}
.rmainright {
  padding-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Table{
  /* width: 500px;
  height: 500px; */
margin-top: 50px;
width: 300px;
height: 100px;
  
  
}

table,th{
  border:3px solid black;
  font-weight: bolder;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
   
   
}

th{
  background-color: orangered;
  color: white;
  font-size: 20px;
}

td{
  border-right: 3px solid black;
  border-bottom: 1px solid black;
  padding-left: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.ResBtn{
  background-color: orangered;
  margin-top: 20px;
  margin-left: 50px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0cap;
}